
:root {
  --blue-abcd: #124078;
  --bgmoduleInfo: #4a78b0;
  --toolbar-abcd: #faf9f8;
  --cat-color: #B4E1F9;
  --acq-color: #96EAC8;
  --loan-color: #F7EF89;
  --abcd-blue: #0d6efd;
  --abcd-indigo: #6610f2;
  --abcd-purple: #6f42c1;
  --abcd-pink: #d63384;
  --abcd-red: #dc3545;
  --abcd-orange: #fd7e14;
  --abcd-yellow: #ffc107;
  --abcd-green: #13aa52;
  --abcd-teal: #20c997;
  --abcd-cyan: #0dcaf0;
  --abcd-white: #fff;
  --abcd-gray: #6c757d;
  --abcd-gray-dark: #343a40;
  --abcd-gray-100: #f8f9fa;
  --abcd-gray-200: #e9ecef;
  --abcd-gray-300: #dee2e6;
  --abcd-gray-400: #ced4da;
  --abcd-gray-500: #adb5bd;
  --abcd-gray-600: #6c757d;
  --abcd-gray-700: #495057;
  --abcd-gray-800: #343a40;
  --abcd-gray-900: #212529;
  --abcd-primary: #0d6efd;
  --abcd-secondary: #6c757d;
  --abcd-success: #198754;
  --abcd-info: #0dcaf0;
  --abcd-warning: #ffc107;
  --abcd-danger: #dc3545;
  --abcd-light: #f8f9fa;
  --abcd-dark: #212529;
  --abcd-primary-rgb: 13, 110, 253;
  --abcd-secondary-rgb: 108, 117, 125;
  --abcd-success-rgb: 25, 135, 84;
  --abcd-info-rgb: 13, 202, 240;
  --abcd-warning-rgb: 255, 193, 7;
  --abcd-danger-rgb: 220, 53, 69;
  --abcd-light-rgb: 248, 249, 250;
  --abcd-dark-rgb: 33, 37, 41;
  --abcd-white-rgb: 255, 255, 255;
  --abcd-black-rgb: 0, 0, 0;
  --abcd-body-color-rgb: 33, 37, 41;
  --abcd-body-bg-rgb: 255, 255, 255;
  --abcd-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --abcd-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --abcd-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --abcd-body-font-family: var(--abcd-font-sans-serif);
  --abcd-body-font-size: 1rem;
  --abcd-body-font-weight: 400;
  --abcd-body-line-height: 1.5;
  --abcd-body-color: #212529;
  --abcd-body-bg: #fff;
}

body {
  margin: 0;
  font-family: var(--abcd-body-font-family);
  font-size: var(--abcd-body-font-size);
  font-weight: var(--abcd-body-font-weight);
  line-height: var(--abcd-body-line-height);
  color: var(--abcd-body-color);
  text-align: var(--abcd-body-text-align);
  background-color: var(--abcd-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: var(--abcd-gutter-x, 0.75rem);
  padding-left: var(--abcd-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}


/***************** COLORS *****************/
.headLevel {
	background-color: var(--blue-abcd);
}

.moduleLevel {
	background-color: var(--bgmoduleInfo);
}

.actionLevel {
	background-color: var(--toolbar-abcd);
}

.main {
	background-color: var(--abcd-white);
}

.footer {
	background-color: var(--blue-abcd);
}

.footer .sysInfo{ 
   -webkit-filter: invert(100%);
    filter: invert(100%);
}

/***************** ./COLORS *****************/



.headLevel, .moduleLevel, .actionLevel {
	position: relative;
 	display: flex;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: space-between;
 	padding-top: 0.5rem;
 	padding-bottom: 0.5rem;
}


.main {
 	flex-wrap: wrap;
 	padding-top: 0.5rem;
 	padding-bottom: 0.5rem;
}

.footer {
	position: relative;
 	display: flex;
 	flex-wrap: wrap;
 	align-items: center;
 	justify-content: space-between;
 	padding-top: 0.5rem;
 	padding-bottom: 0.5rem;
}


/* Paddings */

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}